@page "{id}"
@model PeopleGen.Web.Pages.CityDetailModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using PeopleGen.Core
@{
}

<h1>Currently looking at City: @Model.CityModel.CityName</h1>



@*<div>
        <p> The population size: @this.Model.CityModel.Population.Count</p>
        <ol>
            @foreach(Person p in this.Model.CityModel.Population)
                {
                    <li><a asp-page="/PersonDetail" asp-route-id="@p.PersonId"> @p.FirstName @p.LastName</a></li>
                }
        </ol>
    </div>*@
<div>
    <p> The population size: @this.Model.CityModel.Businesses</p>
    <ol>
        @foreach (Business b in this.Model.CityModel.Businesses)
        {
            <li> @b.BusinessName</li>
        }
    </ol>
</div>